.navbar {
    background-color: #045757;
    text-align: center;
    font-size: x-large;
    border-radius: 0;
    
}

.navbar a {
    color: black;
}

.box {
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    margin-bottom: 2em;
}

body {
    margin: 0;
    background-color: #222222;
    color: #E4E4E4;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

.navbar li {
    display: inline;
}

.workexperience {
    display: grid;
    gap: 15px;
    grid-auto-rows: minmax(auto, auto);
}

.lpname {
    grid-column: 1/3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    font-weight: bold;
}

.lpdates {
    grid-column: 1/3;
    grid-row: 2;
}

.lpposition {
    grid-column: 2/3;
    grid-row: 1;
}

.lpjobduties {
    grid-column: 2/3;
    grid-row: 2;
}

.aheadname {
    grid-column: 1/3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;
    font-weight: bold;
}

.aheaddates {
    grid-column: 1/3;
    grid-row: 4;
}

.aheadposition {
    grid-column: 2/3;
    grid-row: 3;
}

.aheadjobduties {
    grid-column: 2/3;
    grid-row: 4;
}

.nttname {
    grid-column: 1/3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 5;
    font-weight: bold;
}

.nttdates {
    grid-column: 1/3;
    grid-row: 6;
}

.nttposition {
    grid-column: 2/3;
    grid-row: 5;
}

.nttjobduties {
    grid-column: 2/3;
    grid-row: 6;
}

.tekname {
    grid-column: 1/3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 7;
    font-weight: bold;
}

.tekdates {
    grid-column: 1/3;
    grid-row: 8;
}

.tekposition {
    grid-column: 2/3;
    grid-row: 7;
}

.tekjobduties {
    grid-column: 2/3;
    grid-row: 8;
}

.lfcname {
    grid-column: 1/3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 9;
    font-weight: bold;
}

.lfcdates {
    grid-column: 1/3;
    grid-row: 10;
}

.lfcposition {
    grid-column: 2/3;
    grid-row: 9;
}

.lfcjobduties {
    grid-column: 2/3;
    grid-row: 10;
}

.ulname {
    grid-column: 1/3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 11;
    font-weight: bold;
}

.uldates {
    grid-column: 1/3;
    grid-row: 12;
}

.ulposition {
    grid-column: 2/3;
    grid-row: 11;
}

.uljobduties {
    grid-column: 2/3;
    grid-row: 12;
}

