body {
    background-color: #D8E9A8;
    color: #191A19;
}

a {
    color: #1E5128;
}

.workexperience {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    grid-auto-rows: minmax(auto, auto);
}

.companyname {
    grid-column: 1/3;
    grid-row: 1;
}

.dates {
    grid-column: 1/3;
    grid-row: 2;
}

.position {
    grid-column: 2/3;
    grid-row: 1;
}

.jobduties {
    grid-column: 2/3;
    grid-row: 2;
}